# Microsoft Teams Webhook URL
TEAMS_WEBHOOK_URL="https://default887aa0fa80f44405b6f091b25cfe11.c0.environment.api.powerplatform.com:443/powerautomate/automations/direct/cu/06/workflows/94a6e44a9e30443586dc7485215a8217/triggers/manual/paths/invoke?api-version=1&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=cDRxsoc-ys5_00oMPNhRwCwXrIr3LHh-nfomyHqwLr8"

# API Keys
NVD_API_KEY=""

# SMTP Settings
SMTP_SERVER="smtp.gmail.com"
SMTP_PORT="587"
SMTP_USERNAME="kaushik.s@pacewisdom.com"
SMTP_PASSWORD="erba zyjt opde dxho"
SMTP_FROM="kaushik.s@pacewisdom.com"
SMTP_TO="kaushik.s@pacewisdom.com"

# Configuration
MIN_ALERT_SEVERITY="LOW"
WEEKLY_DIGEST_DAY="Monday"
FAILURE_ALERT_THRESHOLD="3"
RETENTION_DAYS="90"
